@model IEnumerable<ETFSjedniceWeb.Models.SJEDNICA>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h4>Zakazane sjednice</h4>
    <div class="container">
        <table class="table table-striped" style="color:white; border-style: double; font-weight:bold; font-family:Arial; font-size:16px">
            <thead>
                <tr>
                    <th>Naziv sjednice</th>
                    <th>Datum početka održavanja</th>
                    <th>Mjesto održavanja</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sjednica 1</td>
                    <td>9.1.2017</td>
                    <td>S11</td>
                    <td>@Html.ActionLink("Započni sjednicu", "VodjenjeSjednice", "Sjednica")</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="jumbotron">

    <h4>Završene sjednice</h4>
    <div class="container">
        <table class="table table-striped" style="color:white; border-style: double; font-weight:bold; font-family:Arial; font-size:16px">
            <thead>
                <tr>
                    <th>Naziv sjednice</th>
                    <th>Datum početka održavanja</th>
                    <th>Mjesto održavanja</th>
                </tr>
            </thead>

        </table>
    </div>
</div>